@model SmallMyListViewModel

@if (Model != null)
{
    <p>Video Knowledge in list: <span class="badge badge-primary">@Model.NumberOfItems</span></p>
    @if (Model.NumberOfItems > 0)
    {
        @foreach (var item in Model.MyListItems)
        {
            <tr>
                <td>@item.VdkItemName</td>
            </tr>
            <br />
        }
        <br />
    }
    <a class="btn btn-primary" asp-area="" asp-controller="MyList" asp-action="Index">View My List <br /></a>

   @*  <a class="btn btn-danger" asp-controller="MyList" asp-action="ClearAll">Clear My List</a> *@
}
else
{
    <p class="lead m-0">Your list is empty</p>
}