<!DOCTYPE html>
<html lang="en">
<style>

    html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: calc(100vh - 80px); /* Assicura che il contenuto non venga coperto */
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px; /* Altezza del footer */
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoKnowledge</title>
    <!-- Link ai fogli di stile -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VideoKnowledge.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Intestazione e navigazione -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Logo e nome del sito -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VideoKnowledge</a>
                <!-- Bottone per il toggle della navigazione su dispositivi mobili -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigazione principale -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <!-- Bottoni per l'utente autenticato o non autenticato, allineati a destra -->
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="VideoKnowledgesContents" asp-action="Index"> My Video Knowledges Contents</a>
                                &nbsp;
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="VideoKnowledgesContents" asp-action="FavoritesList"> My Favorites</a>
                                &nbsp;
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="VideoKnowledgesQuestions" asp-action="UserQuizResults"> My Quiz History</a>
                                &nbsp;
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Logout">Hi, @User.Identity.Name, Log out</a>
                            </li>   
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Log in</a>
                                &nbsp;
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-play" asp-controller="Account" asp-action="Create">Create new account</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Contenuto principale -->
    <div class="container">
        <main role="main" class="pb-3">
           @*  <div class="row"> *@
@*                 <div class="col-2">
                    <!-- Componenti per la navigazione delle categorie e lista personale -->
                    <vc:categories />
                    <div class="bg-transparent mt-3 p-3 text-black">
                        <vc:small-my-list />
                    </div>
                </div> *@
                @* <div class="col"> *@
                    <!-- Parziale per le notifiche e contenuto della pagina -->
                    <partial name="_NotificationPartial" />
                    @RenderBody()
                @* </div> *@
          @*   </div> *@
        </main>
    </div>
    
    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - VideoKnowledge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Script JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var footer = document.querySelector('.footer');
        var footerHeight = footer.offsetHeight;

        function checkScroll() {
            var scrollHeight = document.documentElement.scrollHeight;
            var scrollTop = window.scrollY + window.innerHeight;

            if (scrollTop >= scrollHeight - footerHeight) {
                footer.style.display = 'block'; // Mostra il footer
            } else {
                footer.style.display = 'none'; // Nascondi il footer
            }
        }

        window.addEventListener('scroll', checkScroll);
        checkScroll();
    });
</script>

</body>
</html>
